h4,
h5 {
    font-weight: 700;
    letter-spacing: 0.05em;
}

h4 {
    font-size: 18px;
}

.date {
    font-style: italic;
}

@keyframes fadeInDown {
    from {
      opacity: 0.25;
      transform: translate3d(0, -75%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

/* --- INTRO --- */

#home {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    position: relative;
}

.landing-page-details {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.big-title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.75em;
    letter-spacing: 0;
}

.my-name {
    display: inline-block;
    letter-spacing: 0.1em;
    font-family: 'Fira Code', monospace;
    animation: fadeInDown 1s ease-in 0.25s;
}

#home h3 {
    margin: 5px 0 0 0;
    text-align: center;
}

#home h3 em {
    color: #212121;
    letter-spacing: 0.05em;
}

#home h3 a:hover {
    color: #9c4128;
    text-decoration: underline;
}

.short-bio {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.short-bio p {
    margin-top: 25px;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

.art-me {
    position: absolute;
    top: 15%;
    height: 200px;
}

.art-me img {
    height: 100%;
}

/* --- PROFILE --- */

.profile-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me-icon-container {
    width: 200px;
    height: auto;
    object-fit: contain;
    text-align: center;
}

.me-icon {
    height: 100%;
    width: 100%;
}

.terminal-container {
    max-width: 700px;
    width: 100%;
    margin-top: 25px;
}

.terminal-header {
    padding: 5px 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background-color: #9c4128;
}

#terminal-title {
    font-weight: 700;
    color: #f6eee3;
    letter-spacing: 0.1em;
}

.right-side-buttons i {
    color: #f6eee3;
}

.right-side-buttons i:not(:last-child) {
    margin-right: 10px;
}

.terminal-window {
    padding: 20px;
    border-radius: 0 0 10px 10px;
    text-align: left;
    border: 1px solid #9c4128;
}

.terminal-window div,
.terminal-window div p {
    font-family: 'Fira Code', monospace;
    letter-spacing: 0.02em;
}

.terminal-window div:not(:last-child) {
    margin-bottom: 20px;
}

.terminal-window div p {
    margin-bottom: 0.25em;
}

.input::before {
    content: ">\A0";
    color: #9c4128;
    font-weight: 700;
}

.bottom span {
    content: "\A0";
    border-right: 12px solid;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* --- EDUCATION & EXPERIENCE --- */

.education-experience-container h3, .experience-container h3 {
    margin-bottom: 50px;
}

.education-experience-container, .experience-container {
    background-color: white;
    border-radius: 0.7rem;
    border: 1px solid #e1e4e8;
    padding: 1rem;
}

#experience {
    margin-top: 50px;
}

.education-experience-card {
    margin-top: 25px;
}

.card-info p {
    margin-top: 0.35em;
    margin-bottom: 0.5em;
    position: relative;
    width: fit-content;
}

.card-info p a:hover {
    color: #7cb1e8;
}

.card-info p.date {
    font-size: 12px;
}

.card-info p.company a {
    font-weight: 600;
    display: inline-block;
}

.card-info p.company::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: #7cb1e8;
}

.card-info p.company:hover::after {
    opacity: 0;
    visibility: hidden;
}


.card-description p:not(:first-child) {
    margin-top: 0.35em;
}

.card-description h5:not(:first-child) {
    margin-top: 10px;
}

/* --- TECH STACK --- */

.tech-stack-container {
    margin: 50px auto 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skill {
    border-radius: 12px;
    margin: 10px;
    border: 2px solid #9c4128;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-align: center;

}

.skill img {
    width: 24px;
    height: 24px;
}

.skill span {
    margin-left: 10px;
}

/* --- ALL SOCIAL MEDIA --- */

.social-media-list {
    margin: 50px auto 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.social-media-item {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px 0;
}

.social-media-item:hover {
    color: #7cb1e8;
}

.social-media-item i {
    margin-right: 15px;
    font-size: 1.5em;
}

.social-media-item:not(:last-child) {
    margin-bottom: 10px;
}

.strong {
    font-weight: 700;
    font-style: italic;
}

@media only screen and (min-width: 768px) {
    #education-experience {
        display: block;
        margin: 5rem 3.1rem 0 3.1rem;
    }

    .education-experience-container, .experience-container {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .experience-container {
        padding: 1rem 2rem;
    }
    

    .education-experience-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .education-card {
        max-width: 48%;
    }



    #experience {
        margin-top: 0;
    }

    .section-description {
        margin: 50px 10% 0 10%;
    }

    .big-title {
        font-size: 3.5em;
    }

    .short-bio {
        max-width: 90%;
    }

    .art-me {
        display: block;
        position: unset;
        height: 350px;
    }

    #home {
        flex-direction: row;
    }

    #home h3 {
        text-align: left;
    }


    .small-title {
        text-align: left;
    }

    .big-title {
        text-align: left;
    }

    .email-container {
        margin: 0;
    }
}

@media only screen and (min-width: 1000px) {
    #home {
        gap: 10%;
    }
}

@media only screen and (min-width: 1100px) {
    #education-experience {
        margin: 4rem 9.1rem 0 9.1rem;
    }

    .profile-container {
        margin: 50px auto 0 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .terminal-container {
        flex-grow: 1;
        margin: 0;
    }

    .me-icon-container {
        width: 300px;
        height: auto;
    }

    /* .education-experience-card {
        display: flex;
        justify-content: space-around;
    } */

    #home .card-info {
        width: 100%;
    }

    .card-description {
        width: 100%;
        margin-top: 0;
    }

    .section-description {
        margin: auto;
    }
}