em {
    color: #212121;
}

.projects {
    padding-top: 100px;
    max-width: 1200px;
}

.projects .project-cards-container {
    margin-top: 50px;
}

.projects .card {
    margin-bottom: 2em;
    color: #212121;
    background-color: white;
    border-radius: 10px;
}

.projects .card-preview-img {
    max-width: 100%;
    padding: 5px;
}

.projects .card-info {
    padding: 25px;
}

.projects .has-no-preview .card-info {
    border-radius: 10px;
}

.title-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #212121;
}

.project-links {
    display: flex;
    flex-wrap: nowrap;
}

.project-links a i {
    padding: 5px;
}

.project-links a i {
    color: #7cb1e8;
    font-size: 1.2em;
    transition: all 0.2s ease;
}

.project-links a i:hover {
    font-size: 1.25em;
    padding: 2px 5px;
    color: #9c4128;
}

.project-links a:last-child {
    margin-left: 5px;
}

.project-skills {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #9c4128;
}

.project-skills span {
    color: #0FA3B1;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.05em;
}

.project-skills span:not(:last-child) {
    margin-right: 10px;
}

.project-description {
    color: #212121;
}

.cta-container {
    margin: 0 auto;
}

.cta {
    display: flex;
    text-align: center;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 12px;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #212121;
    background-color: #FFFFFF;
    margin-top: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.cta img {
    height: 25px;
    width: 25px;
}

.cta span {
    margin-left: 10px;
    color: #212121;
    font-weight: 700;
}

.email-button {
    border: 1px solid #7cb1e8;
    background-color: #7cb1e8;
}

.cta:hover {
    border: 1px solid #7cb1e8;
    background-color: #7cb1e8;
    padding: 10px 20px;
}

@media only screen and (min-width: 768px) {
    .project-cards-container {
        column-gap: 2em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .projects .card {
        width: 48%;
        flex-grow: 4;
    }
    
}