.blob-hero {
    background: linear-gradient(180deg, #FAE8FF 0, #EEFAFD 20%, #FAE8FF 40%, #EEFAFD 60%, #FAE8FF 80%, #f6f6ea 100%);

}

.blob-hero::before {
    color: transparent;
    content: "x";
    font-size: 50px;
    height: 2em;
    position: absolute;
    text-shadow: 1.9761296155em 1.2102999824em 4.5px #F6F6EA, 1.4782947em .7661422489em 4.5px #F6F6EA, -.3136977694em 1.7064369465em 4.5px #F6F6EA, .0384847946em 1.7935813619em 4.5px #F6F6EA, 2.0238657795em .3538699246em 4.5px #F6F6EA, .6353468886em 1.574533319em 4.5px #F6F6EA, .118031703em 2.4664507405em 4.5px #F6F6EA, .9646269233em -.0529563464em 4.5px #F6F6EA, 1.9398794923em .7878027949em 4.5px #F6F6EA, .068670351em .7741215926em 4.5px #F6F6EA, -.3848490707em -.4639062642em 4.5px #F6F6EA, -.2535002979em 1.785270631em 4.5px #F6F6EA, 1.8500725457em 1.3163824921em 4.5px #F6F6EA;
    width: 2.5em;
    z-index: 1;
    animation: move 51s ease-in-out 0s infinite alternate;
    left: 0;
    top: 0;
}

.blob-hero::after {
    color: transparent;
    content: "x";
    font-size: 50px;
    height: 2.5em;
    position: absolute;
    text-shadow: 1.9761296155em 1.2102999824em 4.5px #F6F6EA, 1.4782947em .7661422489em 4.5px #F6F6EA, -.3136977694em 1.7064369465em 4.5px #F6F6EA, .0384847946em 1.7935813619em 4.5px #F6F6EA, 2.0238657795em .3538699246em 4.5px #F6F6EA, .6353468886em 1.574533319em 4.5px #F6F6EA, .118031703em 2.4664507405em 4.5px #F6F6EA, .9646269233em -.0529563464em 4.5px #F6F6EA, 1.9398794923em .7878027949em 4.5px #F6F6EA, .068670351em .7741215926em 4.5px #F6F6EA, -.3848490707em -.4639062642em 4.5px #F6F6EA, -.2535002979em 1.785270631em 4.5px #F6F6EA, 1.8500725457em 1.3163824921em 4.5px #F6F6EA;
    width: 2.5em;
    z-index: 1;
    animation: move 51s ease-in-out 0s infinite alternate;
    left: 75%;
    top: 75%;
    animation-delay: -18s;
    animation-duration: 52s;
}

.blob-hero .blob-content::before {
    color: transparent;
    content: "x";
    font-size: 50px;
    height: 2.5em;
    position: absolute;
    text-shadow: 1.9761296155em 1.2102999824em 4.5px #F6F6EA, 1.4782947em .7661422489em 4.5px #F6F6EA, -.3136977694em 1.7064369465em 4.5px #F6F6EA, .0384847946em 1.7935813619em 4.5px #F6F6EA, 2.0238657795em .3538699246em 4.5px #F6F6EA, .6353468886em 1.574533319em 4.5px #F6F6EA, .118031703em 2.4664507405em 4.5px #F6F6EA, .9646269233em -.0529563464em 4.5px #F6F6EA, 1.9398794923em .7878027949em 4.5px #F6F6EA, .068670351em .7741215926em 4.5px #F6F6EA, -.3848490707em -.4639062642em 4.5px #F6F6EA, -.2535002979em 1.785270631em 4.5px #F6F6EA, 1.8500725457em 1.3163824921em 4.5px #F6F6EA;
    width: 2.5em;
    z-index: 1;
    animation: move2 50s ease-in-out 0s infinite alternate;
    left: 25%;
    top: 25%;
    animation-delay: -13s;
    animation-duration: 53s;
}

.blob-hero .blob-content::after {
    color: transparent;
    content: "x";
    font-size: 50px;
    height: 2.5em;
    position: absolute;
    text-shadow: 1.9761296155em 1.2102999824em 4.5px #F6F6EA, 1.4782947em .7661422489em 4.5px #F6F6EA, -.3136977694em 1.7064369465em 4.5px #F6F6EA, .0384847946em 1.7935813619em 4.5px #F6F6EA, 2.0238657795em .3538699246em 4.5px #F6F6EA, .6353468886em 1.574533319em 4.5px #F6F6EA, .118031703em 2.4664507405em 4.5px #F6F6EA, .9646269233em -.0529563464em 4.5px #F6F6EA, 1.9398794923em .7878027949em 4.5px #F6F6EA, .068670351em .7741215926em 4.5px #F6F6EA, -.3848490707em -.4639062642em 4.5px #F6F6EA, -.2535002979em 1.785270631em 4.5px #F6F6EA, 1.8500725457em 1.3163824921em 4.5px #F6F6EA;
    width: 2.5em;
    z-index: 1;
    animation: move2 50s ease-in-out 0s infinite alternate;
    left: 50%;
    top: 50%;
}

.blob-hero .blob-content-secondary {
    transition: opacity 1.2s cubic-bezier(.215,.61,.355,1),transform 1s cubic-bezier(.215,.61,.355,1);
    opacity: 0;
    transform: translateY(-30px);
}

.blob-hero .blob-content-secondary.animated {
    opacity: 1;
    transform: translateY(0);
}

.blob-hero .blob-content-primary {
    transition: opacity 1.4s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
    transition-delay: .5s;
    opacity: 0;
    transform: translateY(-30px);
}


.blob-hero .blob-content-primary.animated {
    opacity: 1;
    transform: translateY(0);
}

.blob-hero .hire-me {
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
    opacity: 0;
}

.blob-hero .hire-me.animated {
    opacity: 1;
    transform-origin: top center;
    animation: swing 1s linear 1.5s;
}







.about-me .line-circles svg {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .6s cubic-bezier(.215,.61,.355,1) 1.5s;
    z-index: 1;
    width: 40vw;
    height: auto;
}

.about-me .line-circles.animated svg {
    transform: scale(1.5) translateX(-25%);
}

.about-me .line-circles svg:nth-child(2) {
    clip-path: circle(0 at 50% 100%);
    transform: rotate(90deg);
    transition: clip-path .6s cubic-bezier(.215,.61,.355,1) 1s,transform .6s cubic-bezier(.215,.61,.355,1) 1.5s,-webkit-clip-path .6s cubic-bezier(.215,.61,.355,1) 1s;
}

.about-me .line-circles.animated svg:nth-child(2) {
    transform: rotate(90deg) scale(1.5) translateY(-25%);
    clip-path: circle(100% at 50% 100%);
}

.about-me .line-circles .cat-sticker::before {
    background: radial-gradient(circle,rgba(238,250,253,.95) 0,rgba(238,250,253,.05) 80%,hsla(60,40%,94%,.1) 100%);
    border-radius: 50%;
    content: "";
    height: 40vw;
    position: absolute;
    transition: opacity .6s cubic-bezier(.215,.61,.355,1) 2.6s;
    z-index: 0;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 40vw;
}

.about-me .line-circles.animated .cat-sticker::before {
    opacity: 1;
}

.about-me .line-circles .cat-sticker img,  .about-me .line-circles .dog-sticker img{
    transition: opacity .6s cubic-bezier(.215,.61,.355,1) 2.6s,transform .6s cubic-bezier(.215,.61,.355,1) 2.6s;
}

.about-me .line-circles.animated .cat-sticker img {
    transform: rotate(0deg);
    opacity: 1;
}

.about-me .line-circles .dog-sticker::before {
    background: radial-gradient(circle,rgba(250,232,255,.95) 0,rgba(250,232,255,.05) 80%,hsla(60,40%,94%,.1) 100%);
    border-radius: 50%;
    content: "";
    height: 40vw;
    position: absolute;
    transition: opacity .6s cubic-bezier(.215,.61,.355,1) 2.6s;
    z-index: 0;
    left: auto;
    top: 50%;
    right: -180px;
    transform: translate(-50%, -50%);
    width: 40vw;
}

.about-me .line-circles.animated .dog-sticker::before {
    opacity: 1;
    right: auto;
    left: 50%;
}

.about-me .line-circles.animated .dog-sticker img {
    opacity: 1;
    transform: rotate(16deg) scale(1.75);
}

.about-me .about-content {
    transition: transform .6s cubic-bezier(.215,.61,.355,1) 1.9s;
}

.about-me .about-content.animated {
    transform: translateY(0);
}

.about-me .about-content h2 {
    transition: opacity .3s cubic-bezier(.215,.61,.355,1) 1.2s;
}

.about-me .about-content.animated h2 {
    opacity: 1;
}

.about-me .about-content p {
    transition: transform .6s cubic-bezier(.215,.61,.355,1) 1.9s,opacity .3s cubic-bezier(.215,.61,.355,1) 1.9s;
    transform: translateY(20px);
}

.about-me .about-content.animated p {
    transform: translateY(0);
    opacity: 1;
}


@media (min-width: 640px) {
    .about-me .line-circles svg {
        width: 25vw;
    }
}

@media (min-width: 768px) {
    .about-me .line-circles .cat-sticker::before {
        left: -180px;
        height: 458px;
        top: -50px;
        width: 458px;
        transform: translate(0);
    }

    .about-me .line-circles .dog-sticker::before {
        left: auto;
        right: -180px;
        height: 458px;
        top: -50px;
        width: 458px;
        transform: translate(0);
    }

    .about-me .line-circles.animated .dog-sticker::before {
        left: auto;
        right: -180px;
    }
}


@media (min-width: 1024px) {
    .about-me .line-circles svg {
        width: 20vw;
    }
}

.about-me .about-content .tech-stacks .stack-1 {
    transition: opacity .5s linear 2.5s;
}

.about-me .about-content.animated .tech-stacks .stack-1, .about-me .about-content.animated .tech-stacks .stack-2, .about-me .about-content.animated .tech-stacks .stack-3, .about-me .about-content.animated .tech-stacks .stack-4  {
    opacity: 1;
}

.about-me .about-content .tech-stacks .stack-2 {
    transition: opacity .5s linear 2.75s;
}

.about-me .about-content .tech-stacks .stack-3 {
    transition: opacity .5s linear 3s;
}

.about-me .about-content .tech-stacks .stack-4 {
    transition: opacity .5s linear 3.25s;
}





.projects .projects-heading {
    transition: opacity 1s cubic-bezier(.215,.61,.355,1),transform 1s cubic-bezier(.215,.61,.355,1);
}

.projects .projects-heading.animated {
    transform: translateY(0);
    opacity: 1
}

.projects .projects-list {
    transition: opacity 1s cubic-bezier(.215,.61,.355,1);
}

.projects .projects-list.animated {
    opacity: 1;
}

.projects-item {
    @apply relative opacity-0 transition-opacity duration-1000 ease-in-out flex pt-[2rem] pb-[2rem] border-b-[1px] border-b-dark_blue flex-col md:flex-row md:flex-nowrap md:gap-x-10
}

.projects-item.animated {
    opacity: 1;
}

.projects-link {
    @apply p-[10px] text-dark_blue hover:text-vivid_green_cyan transition-colors duration-300
}






.contact.animated {
    opacity: 1;
}



.thank-u::before {
    animation: sparkle-in 2.5s infinite;
    transform: scale(0);
    position: absolute;
    height: 20px;
    left: 0;
    top: -5px;
    width: 16px;
    content: "";
    background: #000;
    mask: radial-gradient(transparent 71%,#000 72%) 8137% 10000%/99.5% 99.5%;
}


.thank-u::after {
    animation: sparkle-in 2.5s infinite 0.3s;
    transform: scale(0);
    position: absolute;
    height: 24px;
    left: 12px;
    top: 5px;
    width: 20px;
    content: "";
    background: #000;
    mask: radial-gradient(transparent 71%,#000 72%) 8137% 10000%/99.5% 99.5%;
}